h1 {
    font-family: serif;
    color: rgb(255, 0, 64);
    margin: 1 rem 0;
}
hr{
    border: none;
    border-top: 1px;
}
.content{
    padding: 0 1 rem 1 rem;
}
.post .about {
    color: slategray;
    font-style: italic;
}
.post .body{
    white-space: pre-line;
}
.post>header>div:first-of-type{
    flex:auto;
}
html{
    font-family: sans-serif;
    background: burlywood;
    padding: 1rem;
}
body{
    max-width: 960px;
    margin: 0 auto;
}
no-posts{
    font-style: italic;
    color: gray;
}